:root {
  --primary-color: #333333;
  --secondary-color: #444444;
  --overlay-color: rgba(0, 0, 0, 0.3);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Muli", sans-serif;
  line-height: 1.6;
  color: #333333;
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4 {
  line-height: 1.3;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}
.container img {
  height: 250px;
  width: 320px;
}

.navbar {
  font-size: 1.2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
.navbar .container {
  display: grid;
  grid-template-columns: 160px 420px 460px;
}
.navbar .container img {
  height: 40px;
  width: 40px;
  left: 40px;
}

.navbar .logo {
  font-size: 2rem;
}

.navbar .nav {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .search-box {
  position: absolute;
  top: 5%;
  left: 65%;
  transform: translate(-50%, -50%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}
.navbar .search-box:hover > .search-txt {
  width: 240px;
  padding: 0 6px;
}

.navbar .search-btn {
  color: #c6ced1;
  float: right;
  width: 25px;
  height: 24px;
  border-radius: 50%;
  background: #2f3630;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.navbar .search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: #c6ced1;
  font-size: 16px;
  transition: 0.4s;
  line-height: 25px;
  width: 0px;
}

.navbar .nav a {
  padding: 0 1rem;
}

.navbar .nav a:hover {
  color: #555555;
}
.section-a {
  margin: 2rem 0;
}

.section-a .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  align-items: center;
  justify-content: center;
}
.container img {
  height: 360px;
  width: 485px;
}

.section-a h1 {
  font-size: 4rem;
  color: var(--primary-color);
}

.section-a p {
  margin: 1rem 0;
}
/*section-b*/

.section-b {
  position: relative;
  background: url("../img/christine-wehrmeier-l4MCijLHc0Q-unsplash.jpg")
    no-repeat bottom center/cover;
  height: 600px;
}

.section-b-inner {
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 860px;
  padding: 5rem 0;
}
.section-b-inner h3 {
  font-size: 2rem;
}

.section-b-inner h2 {
  font-size: 5rem;
  margin-top: 5rem;
}

.section-b-inner p {
  font-size: 1rem;
  margin-top: 1rem;
}

/*section-c*/

.section-c .gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 320px 320px;
}

.section-c .gallery a:first-child {
  grid-row: 1/3;
  grid-column: 1/3;
  margin-left: 0.5rem;
}

.section-c .gallery img,
.section-c .gallery a {
  width: 95%;
  height: 95%;
  margin-top: 0.5rem;
}

.section-c .gallery .text-wrapper {
  width: 100%;
  position: relative;
  margin-top: -40%;
}

.section-c .gallery .text-wrapper h1 {
  text-align: center;
  color: var(--primary-color);
  margin-top: -570px;
  font-size: 32px;
  transition: transform 0.2s;
}
.section-c .gallery .text-wrapper h1:hover {
  transform: scale(1.5);
}

.section-c .gallery .text-wrapper1,
.section-c .gallery .text-wrapper2,
.section-c .gallery .text-wrapper3 {
  width: 100%;
  position: relative;
  margin-top: -40%;
}

.section-c .gallery .text-wrapper1 h1,
.section-c .gallery .text-wrapper2 h1,
.section-c .gallery .text-wrapper3 h1 {
  text-align: center;
  color: white;
  margin-top: -285px;
  font-size: 18px;
  transition: transform 0.2s;
}

.section-c .gallery .text-wrapper1 h1:hover,
.section-c .gallery .text-wrapper2 h1:hover,
.section-c .gallery .text-wrapper3 h1:hover {
  text-align: center;
  color: white;
  margin-top: -280px;
  font-size: 18px;
  transform: scale(1.5);
}

.section-c .gallery .text-wrapper4,
.section-c .gallery .text-wrapper5,
.section-c .gallery .text-wrapper6 {
  width: 100%;
  position: relative;
  margin-top: -40%;
}

.section-c .gallery .text-wrapper4 h1,
.section-c .gallery .text-wrapper5 h1,
.section-c .gallery .text-wrapper6 h1 {
  text-align: center;
  color: var(--primary-color);
  margin-top: -290px;
  font-size: 18px;
  transition: transform 0.2s;
}
.section-c .gallery .text-wrapper4 h1:hover,
.section-c .gallery .text-wrapper5 h1:hover,
.section-c .gallery .text-wrapper6 h1:hover {
  text-align: center;
  color: var(--primary-color);
  margin-top: -285px;
  font-size: 18px;
  transform: scale(1.5);
}

/*footer*/
.section-footer {
  background: var(--primary-color);
  color: #fff;
  padding: 4rem 0;
}

.section-footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.section-footer h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.section-footer h3 {
  margin-bottom: 0.7rem;
}

.section-footer a {
  line-height: 1.9;
  color: #ccc;
  transition: transform 0.2s;
}

.section-footer a > i {
  color: #555;
  margin-right: 0.5rem;
  transition: transform 0.2s;
}
.section-footer a > i:hover {
  transform: scale(1.2);
}

/*email form*/
.email-form {
  width: 100%;
  display: inline-block;
  background-color: #555;
  position: relative;
  border-radius: 20px;
  line-height: 0;
  margin-top: 1rem;
}

.email-form .form-control {
  display: inline-block;
  border: 0;
  outline: 0;
  font-size: 1rem;
  color: #ddd;
  background-color: transparent;
  font-family: inherit;
  margin: 0;
  padding: 0 3rem 0 1.5rem;
  width: 100%;
  height: 45px;
  border-radius: 20px;
}

.email-form .submit {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background-color: #eeeeee;
  font-size: 1rem;
  text-align: center;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  columns: #333333;
  cursor: pointer;
  border-radius: 0 20px 20px 0;
}

/* Utilities */
.btn {
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  padding: 0rem 1.5rem;
  border: none;
  cursor: painter;
  font-size: 1.1rem;
  border-radius: 30px;
}

.btn:hover {
  background: var(--secondary-color);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--overlay-color);
}

/*Media Queries*/

@media (max-width: 800px) {
  .section-a .container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .navbar .search-btn {
    padding: 5px;
  }

  .navbar .search-box:hover > .search-txt {
    width: 120px;
    padding: 0 6px;
  }

  .section-a .container div:first-child {
    order: 2;
  }
  .section-a .container div:last-child {
    order: -1;
  }

  .section-a img {
    width: 80%;
    margin: auto;
  }
  .section-b-inner h2 {
    font-size: 3.5rem;
  }
  .section-c .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .section-c .gallery .text-wrapper h1 {
    text-align: center;
    color: var(--primary-color);
    margin-top: -285px;
    font-size: 18px;
    transition: transform 0.2s;
  }

  .section-c .gallery a:first-child {
    grid-row: 1/1;
    grid-column: 1/1;
  }
  .section-c .gallery a:last-child {
    display: none;
  }

  .section-footer {
    padding: 2rem 0;
  }
  .section-footer .container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .section-footer div:nth-child(2) .section-footer div:nth-child(3) {
    display: none;
  }
}
